body {
  background: #0054a6 !important;
  color: #fff;
  padding: 0;
  margin: 0;
}
body table {
  width: 100% !important;
}
body .body11 {
  background: none;
}
body > .body12 {
  width: 100%;
  background: none;
}
body.default.asp > .body12 > tbody > tr:nth-child(1) td {
  height: 83px;
  background: #fff center 10px url("https://cdn.branchcms.com/6QNAJ3ZRPG-704/layout/images/interior-logo.png") no-repeat;
  background-size: auto 83px;
  padding: 10px 0;
}
body.default.asp > .body12 > tbody > tr:nth-child(1) td > img {
  opacity: 0;
}
body.default.asp > .body12 > tbody > tr:nth-child(2) > td:nth-child(1) {
  padding: 0 20px;
}
a {
  color: #4c87c0;
}
img[width="650"] {
  display: none;
}
#form > table {
  width: 100%;
  background: none;
}
#form > table > tbody tr:nth-child(3) > td:nth-child(1),
#form > table > tbody tr:nth-child(4) > td:nth-child(1),
#form > table > tbody tr:nth-child(3) > td:nth-child(4),
#form > table > tbody tr:nth-child(4) > td:nth-child(4) {
  display: none;
}
#form > table > tbody tr:nth-child(3) > td:nth-child(2),
#form > table > tbody tr:nth-child(4) > td:nth-child(2),
#form > table > tbody tr:nth-child(3) > td:nth-child(3),
#form > table > tbody tr:nth-child(4) > td:nth-child(3) {
  display: block;
  width: 100%;
  margin: 0 auto;
}
#PWord,
#UName {
  display: block;
  width: 100%;
  height: 20px;
  padding: 5px;
  margin: 10px 0 0;
}
#Submit {
  display: inline-block;
  background-image: none !important;
  background: #4c87c0;
  color: #fff;
  width: 100%;
  height: 30px;
  text-align: center;
  vertical-align: middle;
}
